<input type="hidden" value="loadDish.do"  name="action"> 
  <script type="text/javascript">
   var colmuns=
  [{title:'菜品',id:'dishid',type:'dlg',view:'dish',viewIndex:"2",copy:'dishs',format:'1',css:"a"},
  {title:'数量',id:'count1',type:'text',format:'1',css:{width:"50px"},value:"1"}  
  ];
  var colmuns1=
  [{title:'套餐类别',id:'suittypeid',type:'dlg',view:'fandishsuittype',viewIndex:"1",copy:'dishs',format:'1',css:"a"}  
  ];  
  var colmuns2=
  [{title:'做法',id:'dishstep',type:'textarea',format:'1',css:{width:"200px",height:"60px"}}  
  ];
  var colmuns3=
  [{title:'食材',id:'name',type:'dlg',view:'fandishmaterial',viewIndex:"1",format:'1',css:"width:400px;"} ,
  {title:'说明',id:'content',type:'textarea',format:'1',css:{width:"200px",height:"60px"},value:"1"}  
  ];
   $(function() {
   $("#tableData").addRow(
   {colmuns:colmuns,data:$details0,count:'count',msgRender:"#msg"});     
   $("#tableData1").addRow(
   {colmuns:colmuns1,data:$details1,count:'count1',msgRender:"#msg"}); 
   $("#tableData2").addRow(
   {colmuns:colmuns2,data:$details2,count:'count2',msgRender:"#msg"}); 
   $("#tableData3").addRow(
   {colmuns:colmuns3,data:$details3,count:'count3',msgRender:"#msg"}); 
   $("#btn-save").click(function() {      
     if (!validForm()){return("");}
   $("#f1j-form").submit();
	});
	$("#btn-copy").click(function() {      
     if (!validForm()){return("");}
	$("#id").val(""); 
   $("#f1j-form").submit();
	});
	});
  </script>
<div style="display:none">
<select id="dishs">
#foreach( $name in $dish )	
	<option value="$name.universalid">$name.name</option>
#end
</select>
</div>
 <input type="hidden" value="0"  name="count"  id="count"> 
 <input type="hidden" value="0"  name="count1"  id="count1"> 
 <input type="hidden" value="0"  name="count2"  id="count2"> 
 <input type="hidden" value="0"  name="count3"  id="count3"> 
<div class="panel" title="基本">
<table class="f1-ui-table-1" border="0" cellspacing="2" cellpadding="0" width="100%">	
	<tr>
		<th style="width:100px"><label>项目</label></th>
		<th class="detail">属性</th>
	</tr>	
	<tr>
		<td ><label>类别</label></td>
		<td class="detail">${workItem.type} </td>
	</tr>	
	<tr>
		<td ><label>固定类别</label></td>
		<td class="detail">${workItem.statictype} </td>
	</tr>	
	<tr>
		<td ><label>套餐类别</label></td>
		<td class="detail">${workItem.dishtype} </td>
	</tr>
	<tr>
		<td ><label>名称</label></td>
		<td class="detail">${workItem.name} </td>
	</tr>	
	<tr>
		<td ><label>单位</label></td>
		<td class="detail">${workItem.unit} </td>
	</tr>		
	<tr>
		<td ><label>拼音码</label></td>
		<td class="detail">${workItem.piny} </td>
	</tr>	
	<tr>
		<td ><label>编号</label></td>
		<td class="detail">${workItem.dishNu} </td>
	</tr>	
	<tr>
		<td ><label>部门</label></td>
		<td class="detail">${workItem.groupName} </td>
	</tr>	
	
	<tr>
		<td ><label>单价</label></td>
		<td class="detail">${workItem.price}</td>
	</tr>	
	<tr>
		<td ><label>允许打折</label></td>
		<td class="detail">${workItem.discountOK} </td>
	</tr>	
	<tr>
		<td ><label>包房价</label></td>
		<td class="detail">${workItem.compartmentPrice} </td>
	</tr>		
	<tr>
		<td ><label>图片</label></td>
		<td class="detail">${workItem.img}</td>
	</tr>	    
    <tr>
		<td ><label>烹饪方式</label></td>
		<td class="detail">${workItem.howCooking}</td>
	</tr>	        	
 	   <tr>
		<td ><label>材料</label></td>
		<td class="detail">${workItem.materials}</td>
	</tr>	        	
	<tr>
		<td ><label>内容</label></td>
		<td class="detail">${workItem.content}</td>
	</tr>	        	
	<tr>
		<td ><label>启用</label></td>
		<td class="detail">${workItem.status} </td>
	</tr>	
	<tr>
		<td ><label>公司代码</label></td>
		<td class="detail">${workItem.companycode} </td>
	</tr>	
</table>
</div>
  </div>   
  <div class="panel" title="固定套餐定义">
  <table border="0" id="tableData" cellspacing="1" cellpadding="0" width="100%">
  </table>   
  </div>     
  <div class="panel" title="组合套餐定义">
  <table border="0" id="tableData1" cellspacing="1" cellpadding="0" width="100%">
  </table>   
  </div>     
  <div class="panel" title="制作方法">
  <table border="0" id="tableData2" cellspacing="1" cellpadding="0" width="100%">
  </table>   
  </div>  
  <div class="panel" title="食材">
  <table border="0" id="tableData3" cellspacing="1" cellpadding="0" width="100%">
  </table>   
  </div>
 <div class="panel" title="口味">
  ${fandishtastes}
  </div>  
  <div class="toolbar">##
  <center>
  <input type="button" id="btn-save" value="保存" style="width:60px;height:40px">   ## 
  <input type="button" id="btn-copy" value="复制" style="width:60px;height:40px">   ## 
  </center>
  


