<input type="hidden" value="loadFanConfigPrint.do"  name="action"> 
  <script type="text/javascript">   
   $(function() {  
   $("#btn-save").click(function() {      
     if (!validForm()){return("");}
   $("#f1j-form").submit();
	});
	$("#btn-copy").click(function() {      
     if (!validForm()){return("");}
	$("#id").val(""); 
   $("#f1j-form").submit();
	});
	});
  </script>

<div class="panel" title="基本">
<table class="f1-ui-table-1" border="0" cellspacing="2" cellpadding="0" width="100%">	
	<tr>
		<th style="width:100px"><label>项目</label></th>
		<th class="detail">属性</th>
	</tr>			
	<tr>
		<td ><label>菜品类别</label></td>
		<td class="detail">${workItem.dishtype} </td>
	</tr>
		<tr>
      <td><label>厨打IP</label></td>
	  <td>${workItem.printipforcook}</td>    
    </tr>		
</table>
</div>
  </div>   
  <div class="toolbar">##
  <center>
  <input type="button" id="btn-save" value="保存" style="width:60px;height:40px">   ## 
  <input type="button" id="btn-copy" value="复制" style="width:60px;height:40px">   ## 
  </center>
  


