
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>流程导航</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <div class="cl">&nbsp;</div>
    <!-- Sort -->
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM1&tab_id=0">待办任务</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">已办任务</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM3&tab_id=0">我发起</a></p>
    </div>
    <!-- End Sort -->
  </div>
</div>
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>新建流程</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <!-- Sort -->
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM1&tab_id=0">报销流程</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">采购流程</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM3&tab_id=0">加班申请</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM3&tab_id=0">休假申请</a></p>
    </div>
    <!-- End Sort -->
  </div>
</div>
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>历史查询</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <!-- Sort -->
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM1&tab_id=0">报销流程</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">采购流程</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM3&tab_id=0">加班申请</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM3&tab_id=0">休假申请</a></p>
    </div>
    <!-- End Sort -->
  </div>
</div>
