
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>文件柜</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <div class="cl">&nbsp;</div>
    <!-- Sort -->
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM1&tab_id=0">所有文件柜</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">我的文件柜</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM3&tab_id=0">新建文件柜</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">审批中</a></p>
    </div>
    <!-- End Sort -->
  </div>
</div>
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>通知</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <!-- Sort -->
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM1&tab_id=0">所有通知</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">我发布的</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">新建通知</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">审批中</a></p>
    </div>
    <!-- End Sort -->
  </div>
</div>
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>公告</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <!-- Sort -->
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM1&tab_id=0">所有公告</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">我的公告</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">新建公告</a></p>
    </div>
    <div class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_WORKFLOW_ITEM2&tab_id=0">审批中</a></p>
    </div>
    <!-- End Sort -->
  </div>
</div>
