<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>客户</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <div class="cl">&nbsp;</div>
    <!-- Sort -->
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_CRMClient_online&tab_id=4#">联系记录</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_CRMClient_online&tab_id=4#">潜在客户</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_CRMClient_online&tab_id=4#">VIP客户</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_CRMClient_online&tab_id=4#">合作伙伴</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_CRMClient_online&tab_id=4#">代理商</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_CRMClient_online&tab_id=4#">客户检索</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_CRMClient_online&tab_id=4#">客户拜访</a></p>
    </div>
    <!-- End Sort -->
  </div>
</div>

<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>产品|报价|合同</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <!-- Sort -->
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_Product_online&tab_id=4#">产品</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_Quote_online&tab_id=4#">报价</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="li_oa_impl2.f1j?&v=T_Contract_online&tab_id=4#">合同</a></p>
    </div>           
    <!-- End Sort -->
  </div>
</div>


<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>新建</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content">
    <!-- Sort -->
    <div  class="menuitem">
      <p><a href="NewCRMClient.do">创建客户资料</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="NewCRMPerson.do">创建新联系人</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="NewTradeOpportunity.do">创建销售机会</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="NewSaleTradeActivity.do">创建销售活动</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="NewContract.do">创建销售合同</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="NewQuote.do">创建报价单</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="EditSaleOrder.do">创建销售单</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="EditProduct.do">创建产品</a></p>
    </div>
    <div  class="menuitem">
      <p><a href="EditContact.do">创建联系记录</a></p>
    </div>       
    <!-- End Sort -->
  </div>
</div>
