<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#set($formFile=${htmlFile})
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<title>"列表"</title>
<style type="text/css">
td{height:24px;}
</style>
<link rel="stylesheet" type="text/css" href="/shares/resources/css/f1ui/default/panel-crm.css">
<link rel="stylesheet" href="/shares/jquery-ui-1.9.0/themes/ysk-restaurant/jquery.ui.all.css">
  <link rel="stylesheet" type="text/css" href="/shares/resources/css/f1ui/default/table.css">    
  <link rel="stylesheet" href="/shares/js/plug-in/jRating/jRating.jquery.css" type="text/css" />   
  <script src="/shares/jquery-ui-1.9.0/jquery-1.8.2.js"></script>
    <script src="/shares/jquery-ui-1.9.0/external/jquery.bgiframe-2.1.2.js"></script>
    <script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.core.min.js"></script>
    <script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.widget.min.js"></script>
 	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.mouse.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.button.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.draggable.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.position.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.resizable.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.dialog.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.effect.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.effect-blind.min.js"></script>
	<script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.effect-explode.min.js"></script>	
  <script src="/shares/jquery-ui-1.9.0/ui/minified/jquery.ui.datepicker.min.js"></script>		
  <script type="text/javascript" src="/shares/js/ui/i18n/ui.datepicker-zh-TW.js"></script>
  <SCRIPT LANGUAGE="JavaScript"  SRC="/shares/js/form.js"></SCRIPT>  
  <SCRIPT LANGUAGE="JavaScript"  SRC="/shares/js/form-zh-CN.js"></SCRIPT>  
  <SCRIPT LANGUAGE="JavaScript" SRC="/shares/js/plug-in/jquery.form.3.18.js"></SCRIPT>  
  <SCRIPT LANGUAGE="JavaScript"  SRC="/shares/js/upload.js"></SCRIPT>
  <SCRIPT LANGUAGE="JavaScript"  SRC="/shares/fckeditor/fckeditor.js"></SCRIPT>
  <SCRIPT LANGUAGE="JavaScript" SRC="/shares/js/plug-in/jquery.table.js"></SCRIPT>  
  <SCRIPT LANGUAGE="JavaScript" SRC="/shares/js/util.js"></SCRIPT>
  <SCRIPT LANGUAGE="JavaScript" SRC="/shares/js/strUtil.js"></SCRIPT>
  <SCRIPT LANGUAGE="JavaScript" SRC="/shares/js/chkutil.js"></SCRIPT>    
  <link rel="stylesheet" type="text/css" href="/shares/resources/css/f1ui/default/menu.css">
  <script type="text/javascript"	src="/shares/js/plug-in/jquery.typemenu.js"></script>
  <script type="text/javascript"	src="/shares/js/list.js"></script>        
  <SCRIPT LANGUAGE="JavaScript" SRC="/shares/js/plug-in/jquery.form.js"></SCRIPT>  
</head>
<body>
<div class="path ui-widget-header ui-corner-all" style="padding-left:5px;"><h2>${hashMap.showName}</h2></div>
#parse($typeImpl)
<form name="ViewForm" id="ViewForm" method="post" action="li1.do">
<div class="type-menu">
<dl class="choose">
  <dt>搜索</dt>
   <dd>
   <div class="search" style="margin-top:0px; margin-left:-2px; margin-right:3px;">   
   <li>
    <input type="text" name="keyWord" id="keyWord"  value="${hashMap.findKey}">		
	<input name="appName" id="appName"  type="hidden" value=${hashMap.appName}>
    <input id="li-name"  type="hidden" value=${hashMap.engineName}>
  </li>    
  <li title="find"><img onclick="find();" src="resources/images/form/search.gif" /></li>
  <!-- <li id="liajax" title="ajax"><img src="resources/images/form/search.gif" /></li> -->
  <a href="#" id="findforad">高级搜索>></a>
  <!-- <li id="findforad" title="findforad"><img src="resources/images/form/search.gif" /></li>   -->
</div>
   </dd>
</dl>
</div>
</form>

<div style="clear:both;">#parse($formFile)</div> 
<center><div id="errInfo" class="errInfo" style="display:none;"><img src="/shares/images/loading.gif"></img>loading</div></center>
<div id="content"> 
<div class="pagebar-container ui-widget-content ui-corner-all">${pager}</div>
${viewBody}
<div class="pagebar-container ui-widget-content ui-corner-all">${pager}</div>
</div>
<!-- <div id="btn-more" >load more...</div> -->
<SCRIPT LANGUAGE="JavaScript" SRC="/fan/view/list.js"></SCRIPT>  
  <script>
  $(document).ready(function(){
    $("tr:odd").addClass("odd");
	$("tr:even").addClass("even");	
  });
  </script> 
</body>
</html>
